@page
@model DetallesModel

@{
    ViewData["Title"] = "Detalles";
    ViewData["EstiloB"] = "/css/singup.css";
    ViewData["EstiloC"] = "/css/forget-password.css";
    ViewData["EstiloD"] = "/css/CrearConsola.css";
    ViewData["Estilo"] = "/css/Detalles.css";
}

<div class="container">
    <div class="formulario">
        <div class="f_div">
            <form name="cConsola" id="cConsola">
                <div>
                    <h5 style="font-weigt=bold;">Nombre</h5>
                    <input type="text" value="@Model.Consola.Nombre" id="nom" readonly>
                </div>
                <div>
                    <h5 style="font-weigt=bold;">Version</h5>
                    <input type="text" value="@Model.Consola.Version" readonly>
                </div>
                <div>
                    <h5 style="font-weigt=bold;">Fabricante</h5>
                    <input type="text" value="@Model.Consola.Fabricante" readonly>
                </div>
                <div>
                    <h5 style="font-weigt=bold;">Cantidad de Controles</h5>
                    <input type="text" value="@Model.Consola.CantidadControles" readonly>
                </div>
                <div>
                    <h5 style="font-weigt=bold;">Cantiad en Stock</h5>
                    <input type="text" value="@Model.Consola.Cantidad" readonly>
                </div>
                <div>
                    <h5 style="font-weigt=bold;">Costo unitario</h5>
                    <input type="text" value="$@Model.Consola.Costo" readonly>
                </div>
                <div>
                    <h5 style="font-weigt=bold;">Precio de Venta Unitario</h5>
                    <input type="text" value="$@Model.Consola.Precio" readonly>
                </div>
                <br /><a asp-page="/LogGames/ListaDeConsolas" id="btnCrear">Volver a la Lista de Consolas</a>
            </form>
        </div>
        <div class="warning">
            @switch (Model.Consola.Nombre)
            {
                case "XBOX":
                    <div class="mid">
                        <p class="tit"><b>Detalles de XBOX ONE </b></p>
                        <img src="https://http2.mlstatic.com/D_NQ_NP_962057-MCO44773036949_022021-O.webp" class="tit_txt" />
                    </div>
                    break;
                case "NINTENDO":
                    <div class="mid">
                        <p class="tit"><b>Detalles de NINTENDO Wii </b></p>
                        <img src="https://http2.mlstatic.com/D_NQ_NP_840265-MLV28203250279_092018-O.jpg" class="tit_txt" />
                    </div>
                    break;
                case "PLAYSTATION":
                    <div class="mid">
                        <p class="tit"><b>Detalles de PlayStation 5 </b></p>
                        <img src="https://http2.mlstatic.com/D_NQ_NP_911021-MCO46913163652_072021-O.webp" class="tit_txt" />
                    </div>
                    break;
            }

            </p>
        </div>
    </div>
</div>


@section Scripts{
<script>
    document.body.onload = () => {
        var nom = document.querySelector("#nom")
        var cb;
        switch (nom.value) {
            case "XBOX":
                cb = "XBOX One";
                break;
            case "NINTENDO":
                cb = "NINTENDO Wii";
                break;
            case "PLAYSTATION":
                cb = "PlayStation 5";
                break;
        }

        nom.value = cb;

    }
</script>
}