@page
@model ListaDeConsolasModel

@{
    ViewData["Title"] = "Consolas";
    ViewData["EstiloB"] = "/css/singup.css";
    @*ViewData["EstiloD"] = "/css/forget-password.css";*@
    ViewData["Estilo"] = "/css/ListaDeConsolas.css";
}

<div class="container">
    <div class="formulario">
        <div class="t_div">

            @if (Model.Consolas.Count() > 0)
            {
                @foreach (var consola in Model.Consolas)
                {
                    <div class="card">
                        <div class="desc">
                            @switch (consola.Nombre)
                            {
                                case "XBOX":
                                    <div class="xbx">

                                    </div>
                                    <h3>XBOX One</h3>
                                    break;
                                case "NINTENDO":
                                    <div class="ntn">

                                    </div>
                                    <h3>NINTENDO Wii</h3>
                                    break;
                                case "PLAYSTATION":
                                    <div class="ps">

                                    </div>
                                    <h3>PlayStation 5</h3>
                                    break;
                            }


                            <p>@Html.DisplayFor(k=>consola.Version)</p>
                            <p>@Html.DisplayFor(k=>consola.CantidadControles) controles</p>
                            <p>USD &nbsp;<b>$@Html.DisplayFor(k=>consola.Precio)</b></p>
                            <div class="botones">
                                <a asp-page="/LogGames/Detalles" asp-route-id="@consola.Id" class="btn d" title="detalles">D</a>
                                <a asp-page="/LogGames/EditarProducto" asp-route-id="@consola.Id" class="btn u" title="actualizar">A</a>
                                <a asp-page="/LogGames/Delete" asp-route-id="@consola.Id" class="btn b" title="borrar">B</a>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <p id="dsc"><b>No Hay Consolas para mostrar.</b></p>
            }

        </div>
        <div class="warning">
            <p class="tit"><b>Lista de Consolas </b></p>
            <p class="tit_txt">Recueda llenar <b>todos los campos</b> para evitar problemas y confusiones futuras.
                <b>¡Gracias!</b>.
            </p>
            <br />
            <a asp-page="/LogGames/CrearConsola" id="btnCrear">Crear Consola</a>
        </div>
        <div class="menu">
            <a href="./first-login.html">
                <p class="txt_action active">Lista de Consolas</p>
            </a>
            <a href="./first-login.html">
                <p class="txt_action">Lista de Controles</p>
            </a>
            <a href="./first-login.html">
                <p class="txt_action">Lista de Videojuegos</p>
            </a>
        </div>
    </div>
</div>


@section Scripts{
<script>
    document.body.onload = () => {
        var cards = document.querySelectorAll(".card")
        for (card of cards) {
            switch (card.querySelector(".desc").querySelector("h3").innerText) {
                case "XBOX One":
                    card.classList.add("x")
                    break;
                case "NINTENDO Wii":
                    card.classList.add("n")
                    break;
                case "PlayStation 5":
                    card.classList.add("p")
                    break;
            }
        }
    }
</script>
}